* {
  box-sizing: border-box;
  /* border: 1px solid black;  */
  line-height: 1.3em;
}

body {
  font-family: 'Open Sans', sans-serif;
  background-color: #f2f2f2;
}

/* ________________HEADER________________ */

header {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: flex-start;
  height: 400px;
  background-color: #4c4c4c;
  color: white;
  height: fit-content;
  border-bottom: 10px solid transparent;
  border-image: url(../assets/Border-BG.png) 30 repeat;
  padding-top: 5px;
}

#main-picture,
#main-headline {
  flex: 0 32%;
}

#main-picture img {
  width: 100%;
}

#main-headline h1 {
  font-weight: lighter;
  font-family: 'Roboto Mono', monospace;
  font-size: 1.7em;
  margin-top: 1em;
}

#main-headline span {
  font-weight: bold;
  font-style: italic;
}

#main-headline p {
  font-size: 1em;
  font-weight: lighter;
  margin: 1.7em 0;
}

#main-headline button {
  background-color: #599cde;
  color: white;
}

#banner1 {
  flex-basis: 70%;
}

.banner {
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #599cde;
  margin-top: 10px;
  position: relative;
}

.banner h2 {
  font-weight: lighter;
  margin-left: 50px;
  font-size: 1.2em;
}

.banner h2 ::after div {
  border: 50px solid white;
  border-left-color: #599cde;
  border-right-color: transparent;
  border-top-color: transparent;
  border-bottom-color: transparent;
}

.banner span {
  font-weight: bold;
  font-style: italic;
}

.banner button {
  margin-right: 20px;
}

.big-button {
  padding: 14px 40px;
  font-size: .9em;
  border-radius: 4px;
  border: none;
}

.banner ::after {
  content: "";

  position: absolute;
  top: 37.5%;
  left: 5%;
  transform: translateX(-50%);
  border: 50px solid white;
  border-left-color: #599cde;
  border-right-color: transparent;
  border-top-color: transparent;
  border-bottom-color: transparent;
  
  width: 0;
  height: 0;
  
  margin: 0 auto;
}

#header-border {
  width: 100%;
  align-self: flex-end;
}

/* ________________MAIN________________ */

main {
  margin: auto;
  width: 70%;
}

/* ________1 FIRST ROW________ */

#first-row {
  display: flex;
  flex-wrap: wrap;
  margin: 80px 0;
}

.traits {
  flex-basis: 25%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2em 0;
}

.round-icon {
  background-color: #4c4c4c;
  width: 70px;
  height: 70px;
  display: table;
  text-align: center;
  border-radius: 50%;
}

.round-icon i {
  color: white;
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  font-size: 25px;
  margin: 10px 0;
}

.traits h3 {
  font-size: 1em;
  font-weight: normal;
  margin: 1.7em 0 1.5em;
}

.traits span {
  font-weight: bold;
}

.traits p {
  font-size: .9em;
  text-align: center;
  margin: 0 1.5em 1.5em;
}

.traits button {
  background-color: #599cde;
  color: white;
  padding: 14px 20px;
  font-size: .9em;
  border-radius: 4px;
  border: none;
}

#multi {
  background-color: white;
  position: relative;
  box-shadow: 15px 0px 40px -20px grey;
}

#multi::after {
  content: "";

  position: absolute;
  top: 85%;
  left: 20%;
  transform: translateX(-50%);
  
  border: 50px solid white;
  
  border-left-color: white;
  border-right-color: transparent;
  border-top-color: transparent;
  border-bottom-color: transparent;
  
  width: 0;
  height: 0;
  
  margin: 0 auto;
}


/* ________2 MIDDLE ROW________ */

#middle-row {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  border-top: 10px solid transparent;
  border-image: url(../assets/Border-BG.png) 30 repeat;
  padding: 2em 0 6em;
}

.border-text {
  position: absolute;
  left: 0;
  right: 0;
  top: -36px;
  margin-left: auto;
  margin-right: auto;
  width: 170px;
  background-color: #f2f2f2;
  text-align: center;
  font-size: 16px;
  font-weight: normal;
}

.blog-title {
  flex-basis: 32%;
  background-color: white;
  position: relative;
  box-shadow: 15px 0px 40px -20px grey;
}

.blog-title img {
  width: 100%;
}

.blog-title h5 {
  font-size: 1em;
  margin-left: 20px;
  margin-bottom: 0%;
}

.blog-title p {
  font-size: .8em;
  padding: 4px 20px 3em;
  margin: 0;
}

.blog-title ::after {
  content: "";

  position: absolute;
  top: 83%;
  left: 15.6%;
  transform: translateX(-50%);
  
  border: 50px solid white;
  
  border-left-color: white;
  border-right-color: transparent;
  border-top-color: transparent;
  border-bottom-color: transparent;
  
  width: 0;
  height: 0;
  
  margin: 0 auto;
}

/* ________3 LAST ROW________ */

#last-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

#testimonials {
  flex-basis: 66%;
  position: relative;
  border-top: 10px solid transparent;
  border-image: url(../assets/Border-BG.png) 30 repeat;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.tes {
  background-color: white;
  flex-basis: 48.5%;
  height: 150px;
  margin-top: 60px;
  position: relative;
  box-shadow: 15px 0px 40px -20px grey;
}

.tes h5 {
  font-size: 1em;
  margin-left: 20px;
  margin-bottom: 0%;
}

.tes p {
  font-size: .8em;
  padding: 4px 20px 2em;
  margin: 0;
}

.tes ::after {
  content: "";

  position: absolute;
  top: 76%;
  left: 11%;
  transform: translateX(-50%);
  border: 35px solid white;
  
  border-left-color: white;
  border-right-color: transparent;
  border-top-color: transparent;
  border-bottom-color: transparent;
  
  width: 0;
  height: 0;
  
  margin: 0 auto;
}

#developement {
  flex-basis: 32%;
  position: relative;
  border-top: 10px solid transparent;
  border-image: url(../assets/Border-BG.png) 30 repeat;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.tabs {
  position: relative;
  clear: both;
  height: 81.8%;
}

.tab {
  float: left;
}

.tab label {
  background: #eee;
  padding: 17px 30px;
  margin-left: -1px;
  position: relative;
  left: 1px;
  font-size: .9em;
}

.tab [type=radio] {
  display: none;
}

.tab-content {
  position: absolute;
  top: 36px;
  left: 0;
  background: white;
  right: 0;
  bottom: 0;
  padding: 32px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-shadow: 15px 0px 40px -20px grey;
}

[type=radio]:checked~label {
  background: white;
  border-bottom: 1px solid white;
  z-index: 2;
}

[type=radio]:checked~label~.content {
  z-index: 1;
}

.tab-content h5 {
  margin: 0.5em 0 .2em;
}

.tab-content p {
  margin: 0 0 .5em;
  font-size: .8em;
}

.tab-content button {
  background-color: #599cde;
  color: white;
  padding: 13px 19px;
  font-size: .9em;
  border-radius: 4px;
  border: none;
  align-self: flex-end;
}

#banner2 {
  flex-basis: 100%;
  color: white;
  margin-top: 5em;
}

/* ________FOOTER________ */

footer {
  background-color: #4c4c4c;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

#footer-items {
  width: 70%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  color: white;
  font-weight: lighter;
  font-size: .8em;
  padding: 6em 0 3em;
}

.foot-item {
  flex-basis: 23%;
}

#flickr {
  display: flex;
  flex-direction: column;
}

#grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

#flickr h4 {
  width: 100%;
}

.black-square {
  flex-basis: 24.1%;
  background-color: #262626;
  min-height: 55px;
  margin-bottom: 1%;
}

#links {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 0 15%;
  background-color: #404040;
  align-items: center;
  height: 80px;
}

#links h4 {
  margin-right: auto;
  color: white;
  font-size: .8em;
  font-weight: normal;
}

#icons i {
  color: #262626;
  margin-left: 12.5px;
  font-size: 27px;
}

#arrow {
  position: absolute;
  font-size: 60px;
  color: #262626;
  right: 1%;
}